<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Login</title>
    </head>
    <body>
        <h1>Login page</h1>

        {% if forms.errors%}
            <p>There is something wrong with what you entered</p>
        {% endif%}

        {% if next%}
            <p>Hey, you cant access that page</p>
        {% endif%}

        <form method="POST", action="{% url 'login'%}">
            {% csrf_token%}
            <p>username : {{ form.username}}</p>
            <p>password : {{ form.password}}</p>
            <input type="submit" value="Login"/>
            <input type="hidden" name="next" value="{{ next}}"/>
        </form>
    </body>
</html>